---
http_interactions:
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/autocompletes?collection_ids=organizations&limit=25&query=ekohe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1591513303611"
      X-Cb-Engine:
      - autocomplete:algolia
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '3'
      X-Cb-Request-Took:
      - '29'
    body:
      encoding: UTF-8
      string: '{"count":33,"entities":[{"facet_ids":["siftery","apptopia","company","rank","builtwith","bombora","similarweb"],"identifier":{"uuid":"9fe491b2-b6a1-5c87-0f4d-226dd0cc97a9","value":"Ekohe","image_id":"v1500646625/zhionn8nlgbkz4lj7ilz.png","permalink":"ekohe","entity_def_id":"organization"},"short_description":"Creating
        cutting-edge, useful technical solutions to move you forward -- we deliver
        on the promise of AI."},{"facet_ids":["rank","builtwith","company","siftery"],"identifier":{"uuid":"4994381c-3f6a-07bc-6ccf-a180cfbfbf60","value":"Ekohealth","image_id":"v1426334509/uugisufqw1aksigokoia.png","permalink":"ekohealth","entity_def_id":"organization"},"short_description":"Ekohealth
        is an online platform, entitling the patients having Ekohealth card to avail
        up to 50% d[...]
