---
http_interactions:
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/autocompletes?collection_ids=funding_rounds&limit=25&query=facebook
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1591513304944"
      X-Cb-Engine:
      - autocomplete:algolia
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '19'
      X-Cb-Request-Took:
      - '44'
    body:
      encoding: UTF-8
      string: '{"count":29,"entities":[{"facet_ids":["rank"],"identifier":{"uuid":"6fae3958-a001-27c0-fb7e-666266aedd78","value":"Series
        B - Facebook","image_id":"rde5yhdgakaqryj6zpu6","permalink":"facebook-series-b--6fae3958","entity_def_id":"funding_round"},"short_description":"Facebook
        raised $27500000 on 2006-04-01 in Series B"},{"facet_ids":["rank"],"identifier":{"uuid":"d950d7a5-79ff-fb93-ca87-13386b0e2feb","value":"Series
        A - Facebook","image_id":"rde5yhdgakaqryj6zpu6","permalink":"facebook-series-a--d950d7a5","entity_def_id":"funding_round"},"short_description":"Facebook
        raised $12700000 on 2005-05-01 in Series A"},{"facet_ids":["rank"],"identifier":{"uuid":"59971bc0-0935-be60-e279-a9db5e787169","value":"Secondary
        Market - Faceboo[...]
