---
http_interactions:
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/entities/funding_rounds/371c20af-8aa9-4bcb-a8da-0694d138f247/cards/investments?card_field_ids=created_at,entity_def_id,identifier,investor_identifier,is_lead_investor,funding_round_identifier,updated_at,uuid,name,permalink,money_invested,investor_stage,investor_type,funding_round_money_raised,organization_identifier,partner_identifiers,announced_on&field_ids=uuid,name,permalink,announced_on,closed_on,investment_stage,investment_type,money_raised,target_money_raised,num_investors,short_description
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1591713054025"
      X-Cb-Engine:
      - card:streaming
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '2'
      X-Cb-Request-Took:
      - '8'
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Secondary Market - Facebook","permalink":"facebook-secondary-market--371c20af","identifier":{"uuid":"371c20af-8aa9-4bcb-a8da-0694d138f247","value":"Secondary
        Market - Facebook","image_id":"rde5yhdgakaqryj6zpu6","permalink":"facebook-secondary-market--371c20af","entity_def_id":"funding_round"},"announced_on":"2013-06-30","uuid":"371c20af-8aa9-4bcb-a8da-0694d138f247","short_description":"Facebook
        raised an undisclosed amount on 2013-06-30 in Secondary Market","num_investors":1,"investment_type":"secondary_market"},"cards":{"investments":[{"name":"Jean-Brice
        Abrial investment in Secondary Market - Facebook","permalink":"jean-brice-abrial-invested-in-facebook-secondary-market--371c20af--1368da0c","identifier":{"uuid":"1368da0c-07b0-46ef-9a86-b518367e60d6","value":"Jean-Brice
        Abrial investment in Secondary Market - Facebook","permalink":"jean-brice-abrial-invested-in-facebook-secondary-market--371c20af--1368da0c","entity_def_id":"investment"},"investor_stage":["early_stage_venture","seed"],"announced_on":"2013-06-30","uuid":"1368da0c-07b0-46ef-9a86-b518367e60d6","organization_identifier":{"uuid":"df662812-7f97-0b43-9d3e-12f64f504fbb","value":"Facebook","image_id":"rde5yhdgakaqryj6zpu6","permalink":"facebook","entity_def_id":"organization"},"funding_round_identifier":{"uuid":"371c20af-8aa9-4bcb-a8da-0694d138f247","value":"Secondary
        Market - Facebook","image_id":"rde5yhdgakaqryj6zpu6","permalink":"facebook-secondary-market--371c20af","entity_def_id":"funding_round"},"money_invested":{"value":1500000,"currency":"EUR","value_usd":1951852},"investor_type":["angel"],"created_at":"2020-04-02T12:17:59Z","updated_at":"2020-04-02T12:17:59Z","entity_def_id":"investment","investor_identifier":{"uuid":"54b3835f-5ad4-458c-949e-54d1c00d562a","value":"Jean-Brice
        Abrial","image_id":"k04g0i6ofn8jgrhjlknk","permalink":"jean-brice-abrial","entity_def_id":"person"}}]}}'
  recorded_at: Tue, 09 Jun 2020 14:30:54 GMT
recorded_with: VCR 6.0.0
