---
http_interactions:
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/entities/people/mark-zuckerberg/cards/participated_investments?card_field_ids=created_at,entity_def_id,identifier,investor_identifier,is_lead_investor,funding_round_identifier,updated_at,uuid,name,permalink,money_invested,investor_stage,investor_type,funding_round_money_raised,organization_identifier,partner_identifiers,announced_on&field_ids=uuid,permalink,permalink_aliases,name,aliases,website,rank,short_description,description
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1591713497337"
      X-Cb-Engine:
      - card:streaming
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '4'
      X-Cb-Request-Took:
      - '14'
    body:
      encoding: UTF-8
      string: '{"properties":{"aliases":["Zuck"],"name":"Mark Zuckerberg","permalink":"mark-zuckerberg","identifier":{"uuid":"a01b8d46-d311-3333-7c34-aa3ae9c03f22","value":"Mark
        Zuckerberg","image_id":"v1448830269/gzcifut4c2xah95x0ewd.jpg","permalink":"mark-zuckerberg","entity_def_id":"person"},"description":"Mark
        Zuckerberg is the founder and CEO of Facebook, which he started in his college
        dorm room in 2004 with roomates Dustin Moskovitz and Chris Hughes and from
        New York.\r\n\r\nZuckerberg is responsible for setting the overall direction
        and product strategy for the company. He leads the design of Facebook''s service
        and development of its core technology and infrastructure. Mark studied computer
        science at Harvard University before moving the compa[...]
