---
http_interactions:
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/entities/people/mark-zuckerberg?field_ids=born_on,created_at,died_on,entity_def_id,facebook,facet_ids,first_name,gender,identifier,image_id,image_url,investor_stage,investor_type,last_name,layout_id,linkedin,location_group_identifiers,location_identifiers,middle_name,num_articles,num_current_advisor_jobs,num_current_jobs,num_event_appearances,num_exits,num_exits_ipo,num_founded_organizations,num_investments,num_investments_funding_rounds,num_jobs,num_lead_investments,num_partner_investments,num_past_advisor_jobs,num_past_jobs,num_portfolio_organizations,num_relationships,override_layout_id,primary_job_title,primary_organization,rank_delta_d30,rank_delta_d7,rank_delta_d90,rank_person,rank_principal,rank_principal_investor,short_description,twitter,updated_at,uuid,permalink,permalink_aliases,name,aliases,website,rank,short_description,description
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1591197703722"
      X-Cb-Engine:
      - card:streaming
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '1'
      X-Cb-Request-Took:
      - '6'
    body:
      encoding: UTF-8
      string: '{"properties":{"location_group_identifiers":[{"uuid":"f79bcf34-5d9e-4a01-837e-f6012edd056c","value":"San
        Francisco Bay Area","permalink":"san-francisco-bay-area-california","entity_def_id":"location","location_type":"group"},{"uuid":"625c1897-0157-4afb-bfb6-2585c562e720","value":"Silicon
        Valley","permalink":"silicon-valley-california","entity_def_id":"location","location_type":"group"},{"uuid":"cf97b169-46c9-493f-a20f-3fe590824934","value":"West
        Coast","permalink":"west-coast-united-states","entity_def_id":"location","location_type":"group"},{"uuid":"f37257c7-3745-42a1-8e07-b7db80a362ac","value":"Western
        US","permalink":"western-united-states","entity_def_id":"location","location_type":"group"}],"aliases":["Zuck"],"first_name":"Mark","rank_delta_d30":0.6,"image_url":"https://res.cloudinary.com/crunchbase-production/image/upload/v1448830269/gzcifut4c2xah95x0ewd.jpg","num_investments_funding_rounds":8,"num_lead_investments":1,"name":"Mark
        Zuckerberg","rank_principal":21553,"permalink":"mark-zuckerberg","num_current_advisor_jobs":4,"facet_ids":["investor","rank"],"num_founded_organizations":8,"identifier":{"uuid":"a01b8d46-d311-3333-7c34-aa3ae9c03f22","value":"Mark
        Zuckerberg","image_id":"v1448830269/gzcifut4c2xah95x0ewd.jpg","permalink":"mark-zuckerberg","entity_def_id":"person"},"image_id":"v1448830269/gzcifut4c2xah95x0ewd.jpg","primary_job_title":"Founder
        & CEO","description":"Mark Zuckerberg is the founder and CEO of Facebook,
        which he started in his college dorm room in 2004 with roomates Dustin Moskovitz
        and Chris Hughes and from New York.\r\n\r\nZuckerberg is responsible for setting
        the overall direction and product strategy for the company. He leads the design
        of Facebook''s service and development of its core technology and infrastructure.
        Mark studied computer science at Harvard University before moving the company
     [...]
