---
http_interactions:
- request:
    method: post
    uri: https://api.crunchbase.com/api/v4/searches/funding_rounds
    body:
      encoding: UTF-8
      string: '{"field_ids":["identifier", "announced_on", "funded_organization_identifier",
        "money_raised", "investment_type"], "order":[{"field_id":"money_raised", "sort":"desc"}],
        "query":[{"type":"predicate", "field_id":"money_raised", "operator_id":"gte",
        "values":["100000"]}], "limit":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1591432191914"
      X-Cb-Engine:
      - search:elastic
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Minimum-Count:
      - '100000'
      X-Cb-Engine-Page-Count:
      - '100'
      X-Cb-Engine-Took:
      - '12'
      X-Cb-Engine-Total-Count:
      - '202561'
      X-Cb-Request-Took:
      - '25'
    body:
      encoding: UTF-8
      string: '{"count":202561,"entities":[{"uuid":"54708936-6f24-484c-9b31-3ba530a8bfb4","properties":{"identifier":{"permalink":"xerox-post-ipo-equity--54708936","image_id":"v1397188986/a79a667532e561f2e9ab5f0d999241a9.png","uuid":"54708936-6f24-484c-9b31-3ba530a8bfb4","entity_def_id":"funding_round","value":"Post-IPO
        Equity - Xerox"},"announced_on":"2020-01-06","money_raised":{"value_usd":24000000000,"currency":"USD","value":24000000000},"investment_type":"post_ipo_equity","funded_organization_identifier":{"permalink":"xerox","role":"investee","image_id":"v1397188986/a79a667532e561f2e9ab5f0d999241a9.png","uuid":"7ef1577a-8779-8044-4a42-669b796f8e4f","entity_def_id":"organization","value":"Xerox"}}},{"uuid":"424ec1d3-bfe9-4098-f585-d775d01116d6","properties":{"identifier":{"permalink":"tsinghua-unigroup-private-equity--424ec1d3","image_id":"gvf1wyfpuquzfirj4bbk","uuid":"424ec1d3-bfe9-4098-f585-d775d01116d6","entity_def_id":"funding_round","value":"Private
        Equity Round - Tsinghua Unigroup"},"announced_on":"2017-03-28"[...]
