---
http_interactions:
- request:
    method: post
    uri: https://api.crunchbase.com/api/v4/searches/funding_rounds
    body:
      encoding: UTF-8
      string: '{"field_ids":["identifier", "announced_on", "funded_organization_identifier",
        "money_raised", "investment_type"], "order":[{"field_id":"announced_on", "sort":"desc"}],
        "query":[{"type":"predicate", "field_id":"announced_on", "operator_id":"gte",
        "values":["2018"]}], "limit":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1591432189558"
      X-Cb-Engine:
      - search:elastic
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Minimum-Count:
      - '83005'
      X-Cb-Engine-Page-Count:
      - '100'
      X-Cb-Engine-Took:
      - '9'
      X-Cb-Engine-Total-Count:
      - '83005'
      X-Cb-Request-Took:
      - '21'
    body:
      encoding: UTF-8
      string: '{"count":83005,"entities":[{"uuid":"3e99d4e3-1aab-4eb3-88ab-ce1c2fc23105","properties":{"identifier":{"permalink":"harpers-environmental-debt-financing--3e99d4e3","image_id":"fnwdanwdezwitnwhk9na","uuid":"3e99d4e3-1aab-4eb3-88ab-ce1c2fc23105","entity_def_id":"funding_round","value":"Debt
        Financing - Harpers Environmental"},"announced_on":"2020-07-02","money_raised":{"value_usd":2509996,"currency":"GBP","value":2000000},"investment_type":"debt_financing","funded_organization_identifier":{"permalink":"harpers-environmental","role":"investee","image_id":"fnwdanwdezwitnwhk9na","uuid":"0c5ca14d-df52-4864-929c-ffb8ea2b4073","entity_def_id":"organization","value":"Harpers
        Environmental"}}},{"uuid":"733282dd-dd10-4603-bb69-6ee0dc249d02","properties":{"identifier":{"permalink":"loverboy-pre-seed--733282dd","image_id":"iihygesk7qyu2ouwf7uy","uuid":"733282dd-dd10-4603-bb69-6ee0dc249d02","entity_def_id":"funding_round","value":"Pre
        Seed Round - Loverboy"},"announced_on":"2020-06-20","investment_type":"pre_seed","fun[...]
