---
http_interactions:
- request:
    method: post
    uri: https://api.crunchbase.com/api/v4/searches/people
    body:
      encoding: UTF-8
      string: '{"field_ids":["first_name", "last_name", "uuid", "permalink", "name",
        "aliases", "website", "description"], "order":[{"field_id":"first_name", "sort":"asc",
        "nulls":"last"}], "query":[{"type":"predicate", "field_id":"uuid", "operator_id":"eq",
        "values":["a01b8d46-d311-3333-7c34-aa3ae9c03f22"]}], "limit":5}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1591452291050"
      X-Cb-Engine:
      - search:elastic
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Minimum-Count:
      - '1'
      X-Cb-Engine-Page-Count:
      - '1'
      X-Cb-Engine-Took:
      - '2'
      X-Cb-Engine-Total-Count:
      - '1'
      X-Cb-Request-Took:
      - '10'
    body:
      encoding: UTF-8
      string: '{"count":1,"entities":[{"uuid":"a01b8d46-d311-3333-7c34-aa3ae9c03f22","properties":{"aliases":["Zuck"],"first_name":"Mark","name":"Mark
        Zuckerberg","permalink":"mark-zuckerberg","identifier":{"permalink":"mark-zuckerberg","image_id":"v1448830269/gzcifut4c2xah95x0ewd.jpg","uuid":"a01b8d46-d311-3333-7c34-aa3ae9c03f22","entity_def_id":"person","value":"Mark
        Zuckerberg"},"description":"Mark Zuckerberg is the founder and CEO of Facebook,
        which he started in his college dorm room in 2004 with roomates Dustin Moskovitz
        and Chris Hughes and from New York.\r\n\r\nZuckerberg is responsible for setting
        the overall direction and product strategy for the company. He leads the design
        of Facebook''s service and development of its core technology and infrastructure.
        Mark studied computer science at Harvard University before moving the company
     [...]
