---
http_interactions:
- request:
    method: post
    uri: https://api.crunchbase.com/api/v4/searches/funding_rounds
    body:
      encoding: UTF-8
      string: '{"field_ids":["uuid", "created_at", "updated_at", "identifier", "money_raised",
        "permalink"], "order":[{"field_id":"updated_at", "sort":"desc", "nulls":"last"}],
        "query":[{"type":"predicate", "field_id":"updated_at", "operator_id":"gte",
        "values":["2020-05-05"]}], "limit":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1591501860761"
      X-Cb-Engine:
      - search:elastic
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Minimum-Count:
      - '9124'
      X-Cb-Engine-Page-Count:
      - '100'
      X-Cb-Engine-Took:
      - '78'
      X-Cb-Engine-Total-Count:
      - '9124'
      X-Cb-Request-Took:
      - '92'
    body:
      encoding: UTF-8
      string: '{"count":9124,"entities":[{"uuid":"fa517725-6ff6-4e74-b7b8-c283efa4c400","properties":{"permalink":"eventus-systems-pre-seed--fa517725","identifier":{"permalink":"eventus-systems-pre-seed--fa517725","image_id":"v1463122391/ec3xdefz4y11mfesphfp.png","uuid":"fa517725-6ff6-4e74-b7b8-c283efa4c400","entity_def_id":"funding_round","value":"Pre
        Seed Round - Eventus Systems"},"uuid":"fa517725-6ff6-4e74-b7b8-c283efa4c400","created_at":"2020-06-07T02:25:49Z","updated_at":"2020-06-07T02:37:11Z"}},{"uuid":"f8412662-0337-4fa1-83b9-62f391ca6bd1","properties":{"permalink":"propzy-series-a--f8412662","identifier":{"permalink":"propzy-series-a--f8412662","image_id":"wlzwrxrlva4oscxt0ohs","uuid":"f8412662-0337-4fa1-83b9-62f391ca6bd1","entity_def_id":"funding_round","value":"Series
        A - Propzy"},"uuid":"f8412662-0337-4fa1-83b9-62f391ca6bd1","created_at":"2020-06-07T02:30:46Z","updated_at":"2020-06-07T02:30:46Z"}},{"uuid":"8928b4f1-f09b-4a31-9037-23a99616d453","pro[...]
